<footer class="site-footer mt-2" style="background-color:#6366F1;">
    <div class="container">
        <div class="text-center">
            <ul class="list-unstyled d-flex justify-content-evenly align-items-center">
                <li><a href="{{ path('app_about') }}" class="text-decoration-none text-light">À propos</a></li>
                <li><a href="{{ path('app_mentions') }}" class="text-decoration-none text-light">Mentions légales</a></li>
                <li><a href="{{ path('app_politique') }}" class="text-decoration-none text-light">Politique de confidentialité</a></li>
            </ul>
        </div>
        <hr style="border-color:#1E293B;">
        <div class="text-center">
            <p class="mb-0">© {{ "now"|date("Y") }} I.sAunny - Tous droits réservés</p>
        </div>
    </div>
</footer>
