{% extends 'base.html.twig' %}
{% block title %}Mentions légales - {{ site_name }}{% endblock %}
{% block body %}
<main>
    <section>
        <img src="{{ asset('img/mentions.png') }}" alt="Bannière" class="img-fluid w-100 lg-100 hero-img" style="padding:30px; background-color:#0F172A;">
    </section>
    <div style="text-align:center; color:#CBD5E1;">
        <p><strong>Éditeur :</strong> Samael Akugnaemi</p>
        <p><strong>Email :</strong> akugnaemisamael@gmail.com</p>
        <p><strong>Hébergement :</strong> Local (XAMPP)</p>
    </div>
</main>
{% endblock %}
